In [79]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import datetime

In [2]:
url = 'https://www.psx.com.pk/market-summary/#main'

In [4]:
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.content, 'html.parser')

In [48]:
container = soup.find('div', class_='col-sm-12 tab-pane inner-content-table automobile-div active')

In [30]:
rows = container.find_all('tr', class_='red-text-td')

In [88]:
dictionary = {
    'titles':[],
    'ldcp': [],
    'opens': [],
    'high': [],
    'low': [],
    'current': [],
    'change': [],
    'volume': [],
    'scrap_time':[]
}

for row in rows:
    a = row.find_all('td')
    dictionary['titles'].append(a[0].text.strip())
    dictionary['ldcp'].append(a[1].text.strip())
    dictionary['opens'].append(a[2].text.strip())
    dictionary['high'].append(a[3].text.strip())
    dictionary['low'].append(a[4].text.strip())
    dictionary['current'].append(a[5].text.strip())
    dictionary['change'].append(a[6].text.strip())
    dictionary['volume'].append(a[7].text.strip())
    dictionary['scrap_time'].append(datetime.datetime.now())

In [89]:
df = pd.DataFrame(dictionary)
df

,titles,ldcp,opens,high,low,current,change,volume,scrap_time
0,AL-Ghazi Tractors,448.70,445.0,447.96,437.0,438.09,-10.95,"10,960",2025-04-29 00:00:26.283945
1,Atlas Honda Ltd,"1,153.68",1160.0,1170.0,1130.0,1142.02,-11.48,"8,945",2025-04-29 00:00:26.283945
2,Dewan Motors,38.54,39.02,39.25,37.45,37.45,-0.67,"1,877,947",2025-04-29 00:00:26.283945
3,Ghandhara Automobile,472.83,473.06,477.87,438.0,442.9,-27.27,"764,534",2025-04-29 00:00:26.283945
4,Ghandhara Ind.,738.00,745.0,747.5,699.0,700.01,-32.53,"309,006",2025-04-29 00:00:26.283945
...,...,...,...,...,...,...,...,...,...
431,Pak Int.Bulk,9.37,9.44,9.49,8.76,8.85,-0.49,"7,786,494",2025-04-29 00:00:26.309172
432,Pak.Int.Container,43.06,43.0,43.5,42.15,42.77,-0.36,"99,764",2025-04-29 00:00:26.309172
433,Secure Logistics Gro,16.90,17.0,17.9,16.42,16.55,-0.31,"6,122,006",2025-04-29 00:00:26.309172
434,Punjab Oil,149.36,153.0,153.0,143.0,143.3,-1.7,"1,371",2025-04-29 00:00:26.309172
435,Bannu Woollen,31.99,32.0,32.0,30.0,30.35,-1.54,"42,293",2025-04-29 00:00:26.309172

In [90]:
df.dtypes

titles                object
ldcp                  object
opens                 object
high                  object
low                   object
current               object
change                object
volume                object
scrap_time    datetime64[ns]
dtype: object

In [91]:
df = df.replace(',', '', regex=True)
df = df.replace('', pd.NA)

In [92]:
type_conv = {
    'ldcp': float,
    'opens': float,
    'high': float,
    'low': float,
    'current': float,
    'change': float,
    'volume': float
}

for i in type_conv:
    df[i] = pd.to_numeric(df[i], errors='coerce')

In [93]:
df.dtypes

titles                object
ldcp                 float64
opens                float64
high                 float64
low                  float64
current              float64
change               float64
volume                 int64
scrap_time    datetime64[ns]
dtype: object