In [2]:
import pandas as pd
import numpy as np

In [3]:
price = pd.read_csv("airbnb_price.csv")
room = pd.read_excel("airbnb_room_type.xlsx")
review = pd.read_csv("airbnb_last_review.tsv", delimiter='\t')

## Basic Analysis

In [4]:
no_pvt_rooms = len(room[room["room_type"].str.upper() == 'PRIVATE ROOM'])

In [5]:
price["price"] = price["price"].str.replace(" dollars",".0")

In [6]:
price["price"] = price["price"].astype(float)

In [7]:
avg_price = price["price"].mean().round(2)

In [8]:
review["last_review"] = pd.to_datetime(review["last_review"])

In [9]:
last_review = review["last_review"].max()

In [10]:
first_review = review["last_review"].min()

In [11]:
arrays = np.array([[first_review, last_review, no_pvt_rooms, avg_price]])

In [12]:
df = pd.DataFrame(arrays, columns = ['first_review', 'last_review', 'no_pvt_rooms', 'avg_price'])

In [13]:
df.to_csv("review_dates.csv", index=False)

## Intermediate Analysis

In [40]:
for i in price['nbhood_full'].unique():
    print(f"avg of {i}:",price[price['nbhood_full'] == f"{i}"]["price"].mean())

avg of Manhattan, Midtown: 272.2138157894737
avg of Brooklyn, Clinton Hill: 164.45390070921985
avg of Manhattan, Murray Hill: 240.36702127659575
avg of Manhattan, Hell's Kitchen: 190.73100983020555
avg of Manhattan, Chinatown: 162.79207920792078
avg of Manhattan, Upper West Side: 181.13935483870966
avg of Brooklyn, South Slope: 143.1744966442953
avg of Brooklyn, Williamsburg: 148.7825148407987
avg of Brooklyn, Fort Greene: 158.25
avg of Manhattan, Chelsea: 222.03529411764706
avg of Brooklyn, Crown Heights: 123.59308510638297
avg of Brooklyn, Park Slope: 178.36244541484717
avg of Brooklyn, Bedford-Stuyvesant: 104.63241285649615
avg of Brooklyn, Windsor Terrace: 119.26388888888889
avg of Manhattan, Inwood: 85.94017094017094
avg of Manhattan, East Village: 184.28175519630486
avg of Manhattan, Harlem: 121.75331010452962
avg of Brooklyn, Greenpoint: 138.71816283924844
avg of Brooklyn, Bushwick: 91.11314475873544
avg of Manhattan, Lower East Side: 177.51626898047724
avg of Brooklyn, Prospect-Lefferts Gardens: 107.81506849315069
avg of Queens, Long Island City: 118.59929078014184
avg of Manhattan, Kips Bay: 197.0934065934066
avg of Manhattan, SoHo: 299.16230366492147
avg of Manhattan, Upper East Side: 173.3206197854589
avg of Brooklyn, Prospect Heights: 153.04142011834318
avg of Manhattan, East Harlem: 127.17113095238095
avg of Manhattan, Washington Heights: 90.75743707093821
avg of Queens, Woodside: 87.59055118110236
avg of Brooklyn, Flatbush: 96.13559322033899
avg of Brooklyn, Carroll Gardens: 171.36206896551724
avg of Manhattan, West Village: 258.7625698324022
avg of Brooklyn, Flatlands: 97.40816326530613
avg of Queens, Sunnyside: 83.21890547263682
avg of Brooklyn, Gowanus: 163.36496350364965
avg of Staten Island, St. George: 100.0625
avg of Bronx, Highbridge: 75.45
avg of Manhattan, Financial District: 238.78877005347593
avg of Queens, Ridgewood: 86.0
avg of Manhattan, Morningside Heights: 116.47747747747748
avg of Queens, Jamaica: 82.8695652173913
avg of Queens, Middle Village: 106.5909090909091
avg of Queens, Ditmars Steinway: 90.94797687861272
avg of Brooklyn, Cobble Hill: 194.0
avg of Manhattan, Flatiron District: 342.05555555555554
avg of Manhattan, Roosevelt Island: 112.15151515151516
avg of Manhattan, Greenwich Village: 239.23030303030302
avg of Brooklyn, East Flatbush: 112.54798761609906
avg of Staten Island, Tompkinsville: 78.84848484848484
avg of Queens, Astoria: 100.54910714285714
avg of Brooklyn, Kensington: 76.425
avg of Bronx, Eastchester: 131.88888888888889
avg of Manhattan, Little Italy: 168.52238805970148
avg of Bronx, Kingsbridge: 80.48780487804878
avg of Brooklyn, Brooklyn Heights: 213.31428571428572
avg of Manhattan, Two Bridges: 126.5
avg of Queens, Queens Village: 77.75
avg of Queens, Forest Hills: 104.61111111111111
avg of Brooklyn, Boerum Hill: 166.4875
avg of Manhattan, Nolita: 230.4322033898305
avg of Bronx, Woodlawn: 56.875
avg of Bronx, University Heights: 60.083333333333336
avg of Manhattan, Gramercy: 214.78846153846155
avg of Bronx, Allerton: 98.93333333333334
avg of Brooklyn, East New York: 87.683908045977
avg of Manhattan, Theater District: 234.2314814814815
avg of Bronx, Concourse Village: 68.44444444444444
avg of Brooklyn, Bensonhurst: 76.30952380952381
avg of Manhattan, Tribeca: 396.7049180327869
avg of Staten Island, Shore Acres: 105.0
avg of Bronx, Concourse: 77.93333333333334
avg of Brooklyn, DUMBO: 189.4
avg of Queens, Elmhurst: 80.97419354838709
avg of Queens, Jackson Heights: 79.81538461538462
avg of Staten Island, Arrochar: 91.57894736842105
avg of Queens, Rego Park: 81.58333333333333
avg of Bronx, Wakefield: 77.72222222222223
avg of Staten Island, Clifton: 80.4
avg of Brooklyn, Bay Ridge: 115.19277108433735
avg of Staten Island, Graniteville: 68.66666666666667
avg of Bronx, Spuyten Duyvil: 180.0
avg of Staten Island, Stapleton: 86.4
avg of Brooklyn, Columbia St: 132.7826086956522
avg of Brooklyn, Canarsie: 93.4090909090909
avg of Brooklyn, Sunset Park: 100.51162790697674
avg of Manhattan, Civic Center: 204.71428571428572
avg of Queens, East Elmhurst: 77.42038216560509
avg of Brooklyn, Brighton Beach: 87.70212765957447
avg of Bronx, Morris Heights: 58.4
avg of Queens, Flushing: 81.94043887147335
avg of Brooklyn, Gravesend: 76.22222222222223
avg of Brooklyn, Cypress Hills: 89.23853211009174
avg of Staten Island, Tottenville: 160.8
avg of Manhattan, NoHo: 335.0243902439024
avg of Staten Island, Mariners Harbor: 86.16666666666667
avg of Staten Island, Concord: 53.3
avg of Brooklyn, Borough Park: 64.94736842105263
avg of Queens, Bayside: 185.96428571428572
avg of Brooklyn, Downtown Brooklyn: 173.13513513513513
avg of Bronx, Fieldston: 76.33333333333333
avg of Queens, Kew Gardens: 69.16666666666667
avg of Queens, College Point: 98.16666666666667
avg of Bronx, Mount Eden: 42.5
avg of Queens, Briarwood: 72.06060606060606
avg of Brooklyn, Vinegar Hill: 150.28571428571428
avg of Queens, Glendale: 91.94871794871794
avg of Brooklyn, Red Hook: 144.6
avg of Bronx, Port Morris: 64.75
avg of Queens, Arverne: 165.16666666666666
avg of Bronx, Mott Haven: 84.15217391304348
avg of Queens, St. Albans: 102.01724137931035
avg of Brooklyn, Midwood: 79.82352941176471
avg of Brooklyn, Sheepshead Bay: 82.15789473684211
avg of Queens, Maspeth: 93.94117647058823
avg of Bronx, Williamsbridge: 100.61538461538461
avg of Queens, Woodhaven: 61.58064516129032
avg of Manhattan, Battery Park City: 163.8
avg of Bronx, Co-op City: 75.0
avg of Bronx, North Riverdale: 55.6
avg of Brooklyn, Dyker Heights: 95.0909090909091
avg of Bronx, Longwood: 73.05882352941177
avg of Queens, Richmond Hill: 87.234375
avg of Brooklyn, Sea Gate: 805.0
avg of Bronx, Riverdale: 147.8
avg of Queens, Kew Gardens Hills: 94.33333333333333
avg of Queens, Ozone Park: 89.92307692307692
avg of Bronx, Soundview: 54.7
avg of Queens, Bay Terrace: 123.75
avg of Bronx, Norwood: 72.33333333333333
avg of Bronx, Claremont Village: 63.0
avg of Brooklyn, Brownsville: 79.93478260869566
avg of Staten Island, Eltingville: 63.0
avg of Queens, Rockaway Beach: 135.7560975609756
avg of Brooklyn, Navy Yard: 180.83333333333334
avg of Bronx, Mount Hope: 91.3076923076923
avg of Bronx, Clason Point: 72.93333333333334
avg of Queens, Springfield Gardens: 90.01369863013699
avg of Queens, Belle Harbor: 166.4
avg of Queens, Jamaica Estates: 134.0
avg of Bronx, Van Nest: 58.55555555555556
avg of Queens, Bellerose: 80.5
avg of Queens, Fresh Meadows: 90.96
avg of Staten Island, West Brighton: 67.14285714285714
avg of Queens, Corona: 55.67307692307692
avg of Queens, Bayswater: 93.33333333333333
avg of Staten Island, Great Kills: 93.71428571428571
avg of Brooklyn, Manhattan Beach: 99.83333333333333
avg of Staten Island, Dongan Hills: 79.42857142857143
avg of Brooklyn, Fort Hamilton: 92.56666666666666
avg of Manhattan, Stuyvesant Town: 139.3846153846154
avg of Bronx, East Morrisania: 85.0
avg of Bronx, Hunts Point: 42.75
avg of Queens, Neponsit: 274.6666666666667
avg of Bronx, Pelham Bay: 114.4
avg of Staten Island, Randall Manor: 82.0
avg of Bronx, City Island: 95.41666666666667
avg of Bronx, Throgs Neck: 94.52380952380952
avg of Staten Island, Silver Lake: 70.0
avg of Queens, Laurelton: 108.23076923076923
avg of Queens, Holliswood: 159.0
avg of Bronx, Pelham Gardens: 89.04
avg of Bronx, Parkchester: 55.82608695652174
avg of Queens, Rosedale: 70.46341463414635
avg of Staten Island, Castleton Corners: 182.0
avg of Queens, Far Rockaway: 86.2
avg of Queens, Edgemere: 102.42857142857143
avg of Staten Island, New Brighton: 101.8
avg of Bronx, Baychester: 78.6
avg of Bronx, Bronxdale: 53.6
avg of Manhattan, Marble Hill: 87.5
avg of Bronx, Melrose: 89.5
avg of Brooklyn, Bergen Beach: 106.0
avg of Queens, Cambria Heights: 86.0
avg of Staten Island, Richmondtown: 78.0
avg of Queens, South Ozone Park: 91.96875
avg of Bronx, Tremont: 55.57142857142857
avg of Bronx, Fordham: 67.51351351351352
avg of Staten Island, Howland Hook: 100.0
avg of Bronx, Schuylerville: 65.9090909090909
avg of Brooklyn, Coney Island: 128.66666666666666
avg of Staten Island, South Beach: 99.14285714285714
avg of Bronx, Castle Hill: 74.0
avg of Bronx, Morris Park: 76.9090909090909
avg of Brooklyn, Bath Beach: 84.0
avg of Queens, Douglaston: 82.75
avg of Queens, Howard Beach: 129.16666666666666
avg of Staten Island, Huguenot: 118.33333333333333
avg of Queens, Whitestone: 62.166666666666664
avg of Bronx, Edenwald: 80.14285714285714
avg of Staten Island, Grant City: 60.5
avg of Staten Island, Port Richmond: 48.8
avg of Staten Island, Emerson Hill: 63.5
avg of Staten Island, Midland Beach: 103.33333333333333
avg of Bronx, Westchester Square: 127.44444444444444
avg of Queens, Little Neck: 45.0
avg of Staten Island, Rosebank: 111.85714285714286
avg of Staten Island, New Springville: 69.4
avg of Brooklyn, Mill Basin: 179.75
avg of Bronx, Belmont: 91.875
avg of Staten Island, Lighthouse Hill: 115.0
avg of Bronx, Morrisania: 78.0
avg of Staten Island, Arden Heights: 67.25
avg of Staten Island, Bull's Head: 48.0
avg of Bronx, Olinville: 53.0
avg of Staten Island, Grymes Hill: 162.5
avg of Queens, Hollis: 74.375
avg of Bronx, Unionport: 90.0
avg of Staten Island, Rossville: 75.0

avg of Queens, Breezy Point: 195.0
avg of Staten Island, Willowbrook: 249.0
avg of Staten Island, New Dorp Beach: 38.0
avg of Staten Island, Todt Hill: 82.33333333333333
avg of Staten Island, Oakwood: 76.5
avg of Bronx, West Farms: 165.0
avg of Queens, Jamaica Hills: 168.4
avg of Staten Island, Bay Terrace, Staten Island: 55.0
avg of Staten Island, Prince's Bay: 85.0

In [44]:
top = price.groupby(["nbhood_full"])["price"].mean().sort_values(ascending=False).head()

In [68]:
top =top.reset_index()

In [73]:
price.groupby(["nbhood_full"])["price"].count().sort_values(ascending=False)

nbhood_full
Brooklyn, Bedford-Stuyvesant    2209
Brooklyn, Williamsburg          1853
Manhattan, Harlem               1435
Brooklyn, Bushwick              1202
Manhattan, Hell's Kitchen       1119
                                ...
Staten Island, Howland Hook        1
Staten Island, Rossville           1
Staten Island, Richmondtown        1
Staten Island, Prince's Bay        1
Staten Island, Willowbrook         1
Name: price, Length: 217, dtype: int64

In [60]:
price[price["nbhood_full"] == "Manhattan, NoHo"].count()

listing_id     41
price          41
nbhood_full    41
dtype: int64

In [92]:
listings = []
for i in top["nbhood_full"].unique():
    info = price[price["nbhood_full"] == f"{i}"].count()
    listings.append(info.price)

In [93]:
listings

[np.int64(2), np.int64(61), np.int64(36), np.int64(41), np.int64(191)]

In [94]:
top["listings"] = listings

In [95]:
top

                    nbhood_full       price  listings
0            Brooklyn, Sea Gate  805.000000         2
1            Manhattan, Tribeca  396.704918        61
2  Manhattan, Flatiron District  342.055556        36
3               Manhattan, NoHo  335.024390        41
4               Manhattan, SoHo  299.162304       191